* {
    margin: 0;
    padding: 0%;
}

body {
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
    url(a.sepeti.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.container h1 {
    margin-bottom: 10px;
    color: rgb(13, 10, 189);
    font-size: 30px;
    text-align: center;
}
.container h2 {
    margin-bottom: 10px;
    color: rgb(227, 14, 235);
    font-size: 20px;
    text-align: center;
}
form {
    text-align: center;
    font-size: 20px
}
input {
    border-radius: 10px;
    border: solid green 3px;
    color: black;
    
}
 button {
    border:  2px solid green; 
    background-color: black;
    color: rgb(20, 209, 67);
    font-size: 20px;

}
#aa {
    border-radius: 10px;
}
button:hover{
    background-color: aqua;
    color: #fff;
}


li {
    color: #fff;
    display: flex;
   justify-content: space-between;
    width: 240px;
    font-size: 25px;
    padding: 2px;
    text-align: center;
}
li button {
    background-color: aliceblue;
    color: red;
    float: right;
    }
    li button:hover {
        background-color: black;
    }

@media screen and (min-width:460px) {
.container h1 {
    font-size:50px;

}
.container h2 {
    font-size: 30px;

}
form {
 margin-right: 20px;
    font-size: 30px;
}
li {
width: 380px;
font-size: 30px;
}
}

@media screen and (min-width:900px) {
    .container h1 {
        font-size: 100px;
    }

    .container h2 {
        font-size: 60px;
    }
    form {
        font-size: 45px;
        }
        li {
            width: 600px;
            font-size: 50px;
        }
}